* {
  box-sizing: border-box;
}

.settings .settings__input input {
  padding: 5px;
  border: 1px solid #e53118;
  border-radius: 100px;
  margin-top: 4px;
  transition: all 0.15s;
}

.settings .settings__input input:focus {
  border: 2px solid #e53118;
  outline: none;
}

.settings .settings__input {
  margin-top: 6px;
}

.margin-top {
  margin-top: 10px;
}

#save {
  border: 0;
  padding: 5px 10px;
  background-color: white;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e53118;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
}

#save:hover {
  background-color: #e53118;
  border: 2px solid black;
  color: white;
}